head
  title #{title}

  //- script(src= 'http://code.jquery.com/jquery-1.10.1.min.js')
  script(src= '../public/js/jquery-1.10.1.min.js')
  //- script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  script(src='../public/js/jquery.min.js')
  script(src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js")
  link(href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet')
  link(href='../public/css/site.css', rel='stylesheet')

  script(type='text/javascript').
    $(function() {
      console.log('DOM Loaded');
    });