html
  head
    meta(name="viewport", content="width=device-width")
    link(href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet')
    link(href='../public/css/site.css', rel='stylesheet')
    title Project
  body
    | Index Page